/* Mobile Last */
/* 
#12151a   Gris oscuro 
#1a1d24   Gris casi oscuro
#252a34   Gris claro
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/********************* BOOTSTRAP ********************/
/********************* BOOTSTRAP ********************/
.card{
  background-color:#252a34;
  border: none;
}
.btn{
  letter-spacing: 0.5px;
  font-weight: bold;
  color: whitesmoke;
  transition: 0.3s;
  background-color: #1da504;
  border: none;
}
.btn:hover{
  background-color: #188305e7;
}

/********************** HEADER **********************/
/********************** HEADER **********************/
.navbar{background-color: #252a34;
  border: 1px solid #454647;
}

.a-style{
  font-weight: bold;
  display: block;
  margin: 0 1rem;
  text-decoration: none;
  color: whitesmoke;
}
.a-style:hover{
  color: #a3a2a2;
  transition: 0.3s;
}

/********************** FOOTER **********************/
/********************** FOOTER **********************/

.footer{
  background-color: #12151a;
  height: 50px;
}
.redes{
  list-style: none;
  display: flex;
  width: 450px;
  margin: 0 auto;
  justify-content: center;
}

/********************** MAIN INDEX **********************/
/********************** MAIN INDEX **********************/

.body{
  background-color: #1a1d24;
}
.container {  
  background-color: #252a34;
  color: whitesmoke;
  display: grid;
  margin: 10px;
  border-radius: 15px;
  }
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card4 card4"
    "card5 card5 card5";
}
.card1 { grid-area: card1;}
.card2 { grid-area: card2;}
.card3 { grid-area: card3;}
.card4 { grid-area: card4;}
.card5 { grid-area: card5;}
 */

/******************** MAIN resenPropias ********************/
/******************** MAIN resenPropias ********************/

.cardsProp{
  background-color: #252a34;
  color: whitesmoke;
  margin: 10px;
  border-radius: 15px;
  display: flex;
flex-direction: column;
}

.cardPropMid{
  border-top: 1px solid #1a1d24 ;
  border-bottom: 1px solid #1a1d24 ;
}

/******************** MAIN resenComunidad ********************/
/******************** MAIN resenComunidad ********************/

.cardsComu{  background-color: #252a34;
  color: whitesmoke;
  margin: 10px;
  border-radius: 15px;
  display: flex;
flex-direction: column;
}
.cardComu{
  margin: 5px;
  padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "resImg resTittle resTittle"
      "resImg resP resP"
      "resImg byComu resButtom";
      justify-items: center;
      align-items: start;
}

/******************** MAIN TusResen *******************/
/******************** MAIN TusResen *******************/

.fondoForm{
  background-color: #252a34;
  color: whitesmoke;
  margin: 10px;
  border-radius: 15px;
  display: flex;
flex-direction: column;
align-items: center;

}
.textForm{
  min-width: 50vw;
  min-height: 35vh;
}

/******************** MAIN News ********************/
/******************** MAIN News ********************/

.container-news {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "news1 news1 news2"
    "news3 news4 news5"
    "news6 news7 news7";
}

.news1 { grid-area: news1; }

.news2 { grid-area: news2; }

.news3 { grid-area: news3; }

.news4 { grid-area: news4; }

.news5 { grid-area: news5; }

.news6 { grid-area: news6; }

.news7 { grid-area: news7; }

.news1, .news2, .news3, .news4, .news5, .news6, .news7{
  background-color: #252a34;
  color: whitesmoke;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
}
.cardImg-newsB{
  min-width: 60%;
  max-height: 28vh;

}






/******************* MEDIAS *******************/
/******************* MEDIAS *******************/

/* @media (max-width:1050px){
  .container-news {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "news1 news1"
      "news2 news3"
      "news4 news5"
      "news7 news7"
      "news6 .";
  }
}

@media (max-width:810px){
  .header{
    flex-direction: column;
  }
  .redes{
    width: 300px;
  }
  
  .container, .container-news{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.card4, .card5, .cardProp, .cardComu{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 2px;
  align-items: center;
  }
  .cardImg{
    width: 100%;
  }

.textForm{
  min-width: 80vw;
  min-height: 25vh;
}
}


@media(max-width:450px){
  .resImg{
    width: 100%;
  }
} */
