.body {
  background-color: #1a1d24;
}
.main-index {
  @include estilobox(3vw);
}
.main-prop {
  @include estilobox(3vw);
  }

.main-news {
  @include estilobox(5vw);
}
.main-form {
  @include estilobox(3vw);
  
  .btn {
    letter-spacing: 0.5px;
    font-weight: bold;
    color: whitesmoke;
    transition: 0.3s;
    background-color: #1da504;
    border: none;
    &:hover {
        background-color: #188305e7;
      }
  }
  .form-range{
    width: 65vw;
    display: block;
  }
}

.cards-top,
.cards-news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.byComu {
  color: #7e8ba0;
}
.main-form {
  padding: 1rem;
}
.oculto{
  display: none;
  z-index: -10;
}