.body {
  background-color: #1a1d24;
}
.main-index {
  @include estilobox(3vw);
}
.main-prop {
  @include estilobox(3vw);
}
.main-news {
  @include estilobox(5vw);
}
.main-form {
  @include estilobox(3vw);
}

.cards-top,
.cards-news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.byComu {
  color: #7e8ba0;
}
.main-form {
  padding: 1rem;
}
